<!-- <mat-card class="logo-container no-padding" layout="row">
	<mat-card-header>
		<div mat-card-avatar class="header-logo"></div>
		<h2>D'coders, Watch more videos and <strong [ngStyle]="{'color':'rgb(255, 255, 255)'}">subscribe <mat-icon aria-hidden="false" aria-label="Example home icon">notifications_active</mat-icon></strong>  to the channel</h2>
	</mat-card-header>
</mat-card> -->
<h3>Hello Welcome</h3>
<p>
  <a [routerLink]="['/form']">
    Form Page
  </a>
</p>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
